<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Patients</title>
</head>
<body class="container">
    <h2>Patient Information</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
            <th scope="col">Organ Type</th>
            <th scope="col">Blood Group</th>
            <th scope="col">Gender</th>
            <th scope="col">Medical History</th>
            <th scope="col">Match</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td scope="row"><%= data[i].Record.PID %></td>
             <td><%= data[i].Record.firstName %></td>
             <td><%= data[i].Record.lastName %></td>
             <td><%= data[i].Record.age %></td>
             <td><%= data[i].Record.phoneNumber %></td>
             <td><%= data[i].Record.address %></td>
             <td><%= data[i].Record.organRequired %></td>
             <td><%= data[i].Record.bloodgroup %></td>
             <td><%= data[i].Record.gender %></td>
             <td><%= data[i].Record.medhistory %></td>
             <td><%= data[i].Record.match %></td>
             <td><a href=<%="/delete/"+data[i].Record.PID%>>Delete</a></td>
           </tr>
        <% } %>
    </tbody>
    </table>
    <a href="/admin">Back</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>